.clickable {
  cursor: pointer;
}

.no-clickable {
  cursor: default;
}

.hover-highlight:hover {
  background-color: transparentize($link, 0.9);
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-button {
  background: inherit;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
}

// Single mods
.mb-1 {
  margin-bottom: 1rem !important;
}
